snippet pdb
	import pdb; pdb.set_trace()

# TODO multiple open modes?
snippet woas
	with open('${1:filename}') as f:
		for line in f:
			${2:# code...}

snippet fimp
	from ${1:module} import ${2:function}
