snippet emp
	\emph{${1}}${2}
snippet ttt "Typewriter Text"
	\texttt{${1}}${2}
snippet frac
	\frac{${1}}{${2}}${3}
snippet tbf "Bold Text"
	\textbf{${1}}${2}
snippet ti "Italic Text"
	\textit{${1}}${2}
snippet mbo "Bold Math"
	\mathbf{${1}}${2}
snippet mc "Math Caligraphy"
	\mathcal{${1}}${2}
snippet mi "Italic Math"
	\mathit{${1}}${2}
snippet mb "Blackboard Math"
	\mathbb{${1}}${2}
