snippet emp
	\emph{${1}} ${2}
snippet frac
	\frac{${1}}{${2}}${3}
snippet tbf "Bold Text"
	\textbf{${1}} ${2}
snippet \ti "Italic Text"
	\textit{$1}$0
snippet \mb "Bold Math"
	\mathbf{$1}$0
snippet \mc "Math Caligraphy"
	\mathcal{$1}$0
snippet \mi "Italic Math"
	\mathit{$1}$0
snippet \mbb "Blackboard Bold Math"
	\mathbb{$1}$0
